/* === CSS RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #1E1E1E;
  --color-text: #FFFFFF;

  --primary: #446943;
  --primary-hov: #385637;
  --secondary: #95C897;
  --secondary-hov: #82AB83;
  --neutral: #F7F7C8;
  --neutral-hov: #DADAAD;

  --gray-light: #A6A6A6;
  --gray: #6D6D6D;
  --gray-dark: #575757;
  --gray-darkest: #383838;

  --delete: #FF7E7E;
  --delete-hov: #D06B6B;
  --focus: #6cc2da;

  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* 20px */
  --page-padding: 1.25rem;
}

*:focus-visible {
  outline: 1.5px solid var(--focus);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

button, .btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}