ubvend.me, www.ubvend.me {
  encode gzip

  #this is to redirect "www" to the root
  @www host www.ubvend.me
  handle @www {
    redir https://ubvend.me{uri} 308
  }

  #API → Flask (server service)
  @api path /api/*
  handle @api {
    reverse_proxy server:5500
  }

  #Everything else → React client(Nginx)
  handle {
    reverse_proxy client:8080
  }
}
