2025ubhacking-vendme.live, www.2025ubhacking-vendme.live {
  encode gzip

  @www host www.2025ubhacking-vendme.live
  handle @www {
    redir https://2025ubhacking-vendme.live{uri} 308
  }

  @api path /api/*
  handle @api {
    reverse_proxy server:5500
  }

  handle {
    reverse_proxy client:8080
  }
}